header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin: 0%;
    margin-top: -35px;
    height:180px;
    font-size: 10px;
}
header div
{
    display: inline-block;
}
.title
{
    font-size: 50px;
    margin-left: 10px;
    padding: 2px;
    margin-right: 14%; 
    font-family: fantasy; 
    font-weight: 700;
}
.title p
{
    padding: 20px;
    background-color: white; 
    border: 5px solid #DE2B57;
    border-style: dotted;
    color: #DE2B57;
}
ul ,li{
    display: inline;
    border-radius: 10px;
    font-size: 40px;
}
li{
    font-size: 20px;
    padding-right: 10px;
}

.button{
    text-align: right;
    padding-right: 10%;
}
header a{
    text-decoration: none;
    padding: 10px;
    border-right: 3px solid black;
    background-color:#DE2B57 ;
    color: white;
    border-radius: 50px;
}
header a:hover{
    background-color: purple;
}
body{
    background-image: url("b11.jpg");
    background-size: cover;
}
.map p{
    color: khaki;
    font-size: 40px;
}
.map{
    text-align: center;
    margin-top: 5%;
}
